{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Alerts {% endblock %}

{% block tables %}
    <table id="alert_table" class="table table-hover">
        <thead>
        <tr>
            <th> ContainerID</th>
            <th>Bill of Lading</th>
            <th> Origin Port</th>
            <th> Loading Port</th>
            <th> Discharge Port</th>
            <th> Delivery Port</th>
            <th> Severity</th>
        </tr>
        </thead>
        <tbody id="">
        {% for inner_list in returned_list %}
            {% if inner_list.6 == 1 %}
                <tr class="danger single_row">
                    {% else %}
                <tr class="success single_row">
            {% endif %}
        {% for field in inner_list %}
            <td> {{ field }} </td>
        {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/alerts.js' %}"></script>
{% endblock %}
