{% extends "base.html" %}

{% load static %}
{% load mytags %}

{% block title %} Container {{ container_id }}  {% endblock %}

{% block tables %}
    <table id="billsPerCont" class="display table table-hover">
        <thead>
        <tr>
            <th>ContainerIdentifier</th>
            <th>Bill of Lading</th>
            <th>Origin Port</th>
            <th>Loading Port</th>
            <th>Discharge Port</th>
            <th>CityName</th>
            <th>Country</th>
            <th>Name And Address Id</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/ajax_datatables.js' %}"></script>
{% endblock %}