{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Bills {%  endblock %}

{% block tables %}
    <table id="bills" class="display table table-hover">
        <thead>
        <tr>
            <th>Unb Reference</th>
            <th>Bill of Lading</th>
            <th>Origin Port</th>
            <th>Loading Port</th>
            <th>Discharge Port</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/bills.js' %}"></script>
    <script src="{% static 'js/ajax_datatables.js' %}"></script>
{% endblock %}
