<!DOCTYPE html>

{% load static %}
{% load mytags %}
{% csrf_token %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System analityczny</title>
    <link rel="icon" href="{% static 'icons/manifests.ico' %}" type="image/x-ico; charset=binary">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">SeeWeb<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/webint/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> TO DO</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> TO DO</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/Desmond14/mytnik-webapp"><span class="glyphicon glyphicon-globe"></span>
                    Git</a></li>
                <li><a href="https://case.iisg.agh.edu.pl/jira/browse/MYTNIKWEB"><span
                        class="glyphicon glyphicon-wrench"></span> Jira</a></li>
                <li><a href="https://case.iisg.agh.edu.pl/confluence/display/prpj14rodMytnikWeb/Home"><span
                        class="glyphicon glyphicon-cloud-upload"></span> Confluence</a></li>
                <li class="divider"></li>
                <li><a href="/webint/docs/"><span class="glyphicon glyphicon-book"></span> Help</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/webint/logout">Wyloguj się: {{ user.first_name }} {{ user.last_name }}</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/webint/">Manifests</a></li>
                <li class="active"><a href="/webint/containers/" id="nav_cont">Containers</a></li>

                <li><a href="/webint/bills/" id="nav_bill">Bills</a></li>

            </ul>
        </div>
        <div class="col-md-11 col-md-offset-1" main>
            <div class="row table-responsive">
                <table id="containersWithStatus" class="display table table-hover">
                    <thead>
                    <tr>
                        <th>Unb Reference</th>
                        <th>Container Identifier</th>
                        <th>Container Type</th>
                        <th>Container Load</th>
                        <th>Status</th>
                        <th>Assignee</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <hr>
        </div>
    </div>
</div>
<div id="usernames" data="{{ users }}"></div>

<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/containers.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/ajax_datatables.js' %}"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>#}
<script>
    $(window).load(function () {
        $(".table-responsive").after("<button id='cancel' onclick='cancelChanges()'>Cancel changes</button>");
        $(".table-responsive").after("<button id='save' onclick='saveChanges()'>Save changes</button>");
        $(".table-responsive").after("<button id='edit' onclick='turnEditMode()'>Edit</button>");
    });

    function turnEditMode() {
        console.log("edit mode");
        $("tbody  > tr").each(function (index) {
            if (!$(this).children('td').eq(4).find(">:first-child").is("select")) {
                console.log(index);
                $(this).children('td').eq(4).html(createStatusSelect($(this).children('td').eq(4).text()));
                $(this).children('td').eq(5).html(createAssigneeSelect($(this).children('td').eq(5).text()));
            }
        });
    }

    function createStatusSelect(status) {
        var select = $("<select></select>");
        var status_values = ["", "In progress", "Done"];
        for (var i = 0; i < status_values.length; i++) {
            var val = status_values[i];
            $("<option />", {value: val, text: val}).appendTo(select);
        }
        if (status == "NA") {
            $(select).val("");
        } else if (status == "IP") {
            $(select).val("In progress");
        } else {
            $(select).val("Done");
        }
        $(select).attr('data-old', status);
        return select;
    }

    function createAssigneeSelect(assignee) {
        var select = $("<select></select>");
        $("<option />", {value: "None", text: ""}).appendTo(select);
        var myDjangoList = (("{{users |safe}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));

        myDjangoList = myDjangoList.replace(/u'/g, '\'')
        myDjangoList = myDjangoList.replace(/'/g, '\"')

        usernames = JSON.parse(myDjangoList);

        for (var i = 0; i < usernames.length; i++) {
            var val = usernames[i];
            var option = $("<option />", {value: val, text: val});
            option.appendTo(select);
        }
        $(select).attr('data-old', assignee);
        $(select).val(assignee);
        return select;
    }

    function cancelChanges() {
        console.log("Cancelling changes");
        $("tbody  > tr").each(function (index) {
            if ($(this).children('td').eq(4).find(">:first-child").is("select")) {
                console.log(index);
                $(this).children('td').eq(4).html($(this).children('td').eq(4).find(">:first-child").attr("data-old"));
                $(this).children('td').eq(5).html($(this).children('td').eq(5).find(">:first-child").attr("data-old"));
            }
        });
    }

    function saveChanges() {
        $("tbody  > tr > td:nth-child(5)").each(function (index) {
            if ($(this).find(">:first-child").is("select")) {
                var select = $(this).find(">:first-child");
                var old_value = select.attr("data-old");
                console.log(old_value);
                var selected = $(select).find("option:selected").text();
                if (old_value == "IP" && (selected != "In progress")) {
                    sendRequest(select[0]);
                } else if (old_value == "DO" && (selected != "Done")) {
                    sendRequest(select[0]);
                } else if (old_value == "NA" && (selected != "")) {
                    sendRequest(select[0]);
                }
            }
        });

        $("tbody  > tr > td:nth-child(6)").each(function (index) {
            if ($(this).find(">:first-child").is("select")) {
                var select = $(this).find(">:first-child");
                var old_value = select.attr("data-old");
                console.log("Assignee old: " + old_value);

                var new_value = $(select).find("option:selected").text();
                console.log("Assignee new: " + new_value);
                if (old_value == "None" && new_value == "") {

                } else if (old_value != new_value) {
                    updateAssignee(select[0]);
                }
            }
        });
        cancelChanges();
    }

    function sendRequest(select) {
        new_assignee = select.options[select.selectedIndex].text;
        var dict = {"In progress":"IP", "Done":"DO", "":"NA"}
        $(select).attr("data-old", dict[new_assignee]);
        console.log("sending request");
        console.log(new_assignee);
        if (new_assignee == "In progress") {
            new_assignee = "IP";
        } else if (new_assignee == "Done") {
            new_assignee = "DO";
        } else {
            new_assignee = "NA";
        }
        var row = $(select).parent().parent();
        var container_id = $(row).children('td').eq(1).text();
        console.log(container_id);
        var theURL = "http://127.0.0.1:8000/webint/page/0/";

        $.ajax({
            url: theURL,
            data: {
                container: container_id,
                new_status: new_assignee,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            success: function () {
                console.log("success");
            }
        });
    }

    function updateAssignee(select) {
        new_assignee = select.options[select.selectedIndex].text;
        console.log(new_assignee);
        if (new_assignee == "") {
            $(select).attr("data-old", "None");
        }
        var row = $(select).parent().parent();
        var container_id = $(row).children('td').eq(1).text();
        console.log(container_id);
        var theURL = "http://127.0.0.1:8000/webint/page/0/";

        $.ajax({
            url: theURL,
            data: {
                container: container_id,
                new_assignee: new_assignee,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            success: function () {
                console.log("success");
            }
        });
    }
</script>
</body>

</html>