{% extends "base.html" %}

{% load static %}

{% block title %} Containers {% endblock %}

{% block custom_css %}
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block tables %}
    <table id="containersWithStatus" class="display table table-hover">
        <thead>
        <tr>
            <th>Unb Reference</th>
            <th>Container Identifier</th>
            <th>Container Type</th>
            <th>Container Load</th>
            <th>Status</th>
            <th>Assignee</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Unb Reference</th>
            <th>Container Identifier</th>
            <th>Container Type</th>
            <th>Container Load</th>
            <th>Status</th>
            <th>Assignee</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block modals %}
    <div style="display: none;" id="dialog" title="Filter Status">
        <input type="checkbox" name="None" checked="checked"/> NA
        <input type="checkbox" name="InProgress" checked="checked"/> IP
        <input type="checkbox" name="Done" checked="checked"/> DO
    </div>
    <div id="usernames" data-usernames="{{ users |safe }}" class="hidden"></div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{% static 'js/jquery.dataTables.columnFilter.js' %}"></script>
    <script src="{% static 'js/containers.js' %}"></script>
    <script>
        $(window).load(function () {
            $(".table-responsive").after("<button id='opener' style='margin-left: 5px'>Filters</button>");
            $(function () {
                $("#dialog").dialog({
                    autoOpen: false,
                    position: { my: "left top", at: "left+55 top", of: "#opener" },
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                $("#opener").click(function () {
                    $("#dialog").dialog("open");
                });
            });
        });
    </script>
{% endblock %}