<!DOCTYPE HTML>

{% load static %}

<html> 
	<head>
		<title>Logowanie</title>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <link type="image/x-ico; charset=binary" href="http://www.agh.edu.pl/fileadmin/default/templates/favicon.ico" rel="shortcut icon"></link>
            <link type="image/x-ico; charset=binary" href="http://www.agh.edu.pl/fileadmin/default/templates/favicon.ico" rel="icon"></link>

	    <!-- Bootstrap core CSS -->
	    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
	    <style type="text/css" id="holderjs-style"></style>
	</head>
	<body>

		    <div class="container">

		      <form id="login_form" method="post" action="/webint/login/" class="form-signin" role="form">
		      	{% csrf_token %}
		        <h2 class="form-signin-heading">SeeWeb</h2>
		        <input class="form-control" placeholder="Login" name="username" required="" autofocus="" type="text">
		        <input class="form-control" placeholder="Hasło" name="password" required="" type="password">
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
		        <a href="/webint"><button class="btn btn-lg btn-primary btn-block">Powrót</button></a>
		      </form>
    		</div> <!-- /container -->
    	<footer>
			<div class="blog-footer" style="bottom:0; position:absolute; width:100%; padding: 40px 0; color: #999; text-align: center; background-color: #f9f9f9; border-top: 1px solid #e5e5e5;">
		      <p>Authors: Konrad Zuchowicz, Sebastian Lakomy, Krzysztof Klimek.</p>
	    	</div>
    	</footer>
	</body>

</html>