<!DOCTYPE html>

{% load static %}
{% load mytags %}
<html>

    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
        <title>System analityczny</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    </head>

    <body>
    {% if user.is_authenticated %} 	
    	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/webint/">SeeWeb</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/webint/logout">Wyloguj się: {{ user.username }} {{ user.first_name }} {{ user.last_name }}</a></li>
	            <li><a href="http://getbootstrap.com/examples/dashboard/#">Settings</a></li>
	            <li><a href="http://getbootstrap.com/examples/dashboard/#">Docs</a></li>
	            <li><a href="http://getbootstrap.com/examples/dashboard/#">Help</a></li>
	          </ul>
	          <form class="navbar-form navbar-right">
	            <input type="text" class="form-control" placeholder="Search...">
	          </form>
	        </div>
	      </div>
    	</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1 sidebar">
					<ul class="nav nav-sidebar">
			            <li class="active"><a href="/webint/manifesty/">Refresh Manifests</a></li>
			            <li><a id="nav_cont">Containers</a></li>
			            <li><a id ="nav_bill">Bills</a></li>
			            <li><a href="/webint/customquerry/" id ="nav_querry">Custom Querry</a></li>
          			</ul>
          		</div>
          		<div class="col-md-11 col-md-offset-1" main>
          			<div class="row table-responsive">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th> UNB Reference </th> <th>Sent date</th><th> ETA </th>
										<th> Sender</th><th> Original sender </th>
										<th> Vessel name </th><th> Voyage no. </th>
										<th> Terminal </th> <th> Containers count </th> 
										<th> PL Full </th><th> PL Empty </th><th> Transhipment </th>
									</tr>
								</thead>
								<tbody>
									{% num_range 20 as outer_range %}
									{% num_range 12 as inner_range %} 
									{% for i in outer_range %}
										<tr class="success">
											{% for j in inner_range %}
												<td id="tr_{{ i }}_td_{{ j }}"></td>
											{% endfor %}	
										</tr>
									{% endfor %}
								</tbody>  
							</table>
          			</div>
          			<div class="container-fluid">
          				<center><ul class="pagination">
          					<li><a href="#">&laquo;</a></li>
          					{% for singlepage in number_of_pages %}
          						<li><a class="linkbutton">{{ singlepage }}</a></li>
          					{% endfor %}
          					<li><a href="#">&raquo;</a></li>
						</ul></center>
          			</div>
          			<hr>
					<footer>
				    <p><center>Django Prototype By Konrad Zuchowicz</center></p>
					</footer>
          		</div>	
			</div>	
		</div>
	{% else %}
        <a href="/webint/login">Zaloguj się</a>
  	{% endif %} 

	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script> 
	<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>  
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/myajaxjscode.js' %}"></script>


    </body>

</html>