{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block tables %}
    <table id="manifests" class="display table table-hover">
        <thead>
        <tr>
            <th> UNB Reference</th>
            <th>Sent date</th>
            <th> ETA</th>
            <th> Sender</th>
            <th> Original sender</th>
            <th> Vessel name</th>
            <th> Voyage no.</th>
            <th> Terminal</th>
            <th> Containers count</th>
            <th> PL Full</th>
            <th> PL Empty</th>
            <th> Transhipment</th>
        </tr>
        </thead>
    </table>
    <table id="containers" class="table table-hover display">
        <thead>
        <tr id="Container_table_header">
            <th> Id Vessel</th>
            <th> Container</th>
            <th> Bill of landing</th>
            <th> Item No.</th>
            <th> Type &amp Size</th>
            <th> Status</th>
            <th> Gross Weight</th>
            <th> Net Weight</th>
            <th> Volume</th>
            <th> Package</th>
            <th> Quantity</th>
            <th> Goods description</th>
        </tr>
        </thead>
    </table>
    <table id="bills" class="table table-hover display">
        <thead>
        <tr id="Bill_table_header">
            <th> UNB Reference</th>
            <th> Bill of landing</th>
            <th> Origin Port</th>
            <th> Loading port</th>
            <th> Discharge port</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js/manifest_no_ajax.js' %}"></script>
<script src="{% static 'js/ajax_datatables.js' %}"></script>
{% endblock %}