<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
        <title>System analityczny</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>
        <h1>Manifesty</h1>
		
		{% if outer_list %}
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th> Unb Reference </th> <th>Sent date</th><th> ETA </th>
						<th> Sender</th><th> Original sender </th>
						<th> Vessel name </th><th> Voyage no. </th>
						<th> Terminal </th> <th> Containers count </th> 
						<th> PL Full </th><th> PL Empty </th><th> Transhipment </th>
					</tr>
				</thead>
				<tbody> 
					{% for inner_list in outer_list %}
						<tr  class="success">
							{% for field in inner_list %}
								<td> {{ field }} </td>
							{% endfor %}	
						</tr>
					{% endfor %}
				<tbody> 
			</table>

			<table class="table table-hover tablesorter">
				<thead>
					<tr >
						<th> Unb Reference </th> <th> Container Id </th><th> Container Type </th>
					</tr>
				</thead>
				<tbody>
					{% for inner_list in cont_outer_list %}
						<tr class="info" hidden id="id_{{inner_list.0}}">
							{% for field in inner_list %}
								<td> {{ field }} </td>
							{% endfor %}	
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% else %}
			<strong> No manifests </strong>
		{% endif %}
		
		<a class="btn btn-default" href="/webint/" role="button" >Powrot</a>
		<hr>
		<footer>
        <p>By Konrad Zuchowicz</p>
		</footer>
		
		<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script> 
		<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>  
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/mjscode.js' %}"></script>
    </body>

</html>