<!DOCTYPE html>

{% load static %}
{% load mytags %}
<html>

    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-ico; charset=binary">	
        <title>UNB:{{ unb }}</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/docs.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    </head>

    <body>

    	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">SeeWeb<b class="caret"></b></a>
	          	<ul class="dropdown-menu">
		            <li><a href="/webint/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		            <li><a href="#"><span class="glyphicon glyphicon-home"></span> TO DO</a></li>
		            <li><a href="#"><span class="glyphicon glyphicon-home"></span> TO DO</a></li>
		            <li class="divider"></li>
		            <li><a href="https://github.com/Desmond14/mytnik-webapp"><span class="glyphicon glyphicon-globe"></span> Git</a></li>
		            <li><a href="https://case.iisg.agh.edu.pl/jira/browse/MYTNIKWEB"><span class="glyphicon glyphicon-wrench"></span> Jira</a></li>
		            <li><a href="https://case.iisg.agh.edu.pl/confluence/display/prpj14rodMytnikWeb/Home"><span class="glyphicon glyphicon-cloud-upload"></span> Confluence</a></li>
		            <li class="divider"></li>
		            <li><a href="/webint/docs/"><span class="glyphicon glyphicon-book"></span> Help</a></li>
          		</ul>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/webint/logout">Wyloguj się: {{ user.first_name }} {{ user.last_name }}</a></li>
	          </ul>
	          <form class="navbar-form navbar-right">
	            <input type="text" class="form-control" placeholder="Search...">
	          </form>
	        </div>
	      </div>
    	</div>

    	</br>
    	<div class="container-fluid">
    	 <div class="bs-example">
    		{% for singlemanf in data %}
    			<dl class="dl-horizontal">
				  <dt>MessageId</dt>
				  <dd id="storeID">{{ singlemanf.0 }}</dd>
				  <dt>UnbReference</dt>
				  <dd>{{ singlemanf.1 }}</dd>
				  <dt>SenderId</dt>
				  <dd>{{ singlemanf.2 }}</dd>
				  <dt>RecipientId</dt>
				  <dd>{{ singlemanf.3 }}</dd>
				  <dt>OriginalSenderId</dt>
				  <dd>{{ singlemanf.4 }}</dd>
				  <dt>DocumentNumber</dt>
				  <dd>{{ singlemanf.5 }}</dd>
				  <dt>DocumentCreationTime</dt>
				  <dd>{{ singlemanf.6 }}</dd>
				  <dt>CarrierCode</dt>
				  <dd>{{ singlemanf.7 }}</dd>
				  <dt>VoyageNumber</dt>
				  <dd>{{ singlemanf.8 }}</dd>
				  <dt>VesselName</dt>
				  <dd>{{ singlemanf.9 }}</dd>
				  <dt>ArrivalPort</dt>
				  <dd>{{ singlemanf.10 }}</dd>
				  <dt>ArrivalTime</dt>
				  <dd>{{ singlemanf.11 }}</dd>
				</dl>
    		{% endfor %}
    	 </div>
    	</div>
    	<div class="container-fluid">
    				<div class="row table-responsive">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th> Manifest Id </th><th> Id Vessel </th> <th> Container</th><th> Bill of landing </th>
										<th> Item No. </th> <th> Type &amp Size</th><th> Status </th>
										<th> Gross Weight </th> <th> Net Weight </th><th> Volume </th>
										<th> Package </th> <th> Quantity</th><th> Goods description </th>
									</tr>
								</thead>
								<tbody>
									{% num_range 20 as outer_range %}
									{% num_range 13 as inner_range %} 
									{% for i in outer_range %}
										<tr class="success">
											{% for j in inner_range %}
												<td id="cont_tr_{{ i }}_td_{{ j }}"></td>
											{% endfor %}	
										</tr>
									{% endfor %}
								</tbody>  
							</table>
          			</div>
    		<div class="row">
    			<center><ul class="pagination">
          					<li><a href="#">&laquo;</a></li>
          					{% for singlepage in pagesCont %}
          						<li><a class="contlinkbutton">{{ singlepage }}</a></li>
          					{% endfor %}
          					<li><a href="#">&raquo;</a></li>
				</ul></center>
    		</div>
     		<div class="row table-responsive">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th> UNB Reference </th> <th> Bill of landing</th>
										<th> Origin Port </th><th> Loading port </th> <th> Discharge port </th>
									</tr>
								</thead>
								<tbody>
									{% num_range 20 as outer_range %}
									{% num_range 5 as inner_range %} 
									{% for i in outer_range %}
										<tr class="success">
											{% for j in inner_range %}
												<td id="bill_tr_{{ i }}_td_{{ j }}"></td>
											{% endfor %}	
										</tr>
									{% endfor %}
								</tbody>  
							</table>
          	</div>   		
    		<div class="row">
    			<center><ul class="pagination">
          					<li><a href="#">&laquo;</a></li>
          					{% for singlepage in  pagesBill %}
          						<li><a class="linkbutton">{{ singlepage }}</a></li>
          					{% endfor %}
          					<li><a href="#">&raquo;</a></li>
				</ul></center>
    		</div>
    	</div>


	    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script> 
		<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>  
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/singlemanifestajax.js' %}"></script>

    </body>
   </html>